<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#if title}}
  <title>Tetris | {{title}}</title>
  {{else}}
  <title>Tetris</title>
  {{/if}}

  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    {{> nav}}
    <h1 class="title">Tetris</h1>
    {{{ body }}}
  </div>
  {{> footer}}
</body>
</html>